#grid {
    display: grid;
    grid-column: auto 200px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    margin: 5px;
}
#pole {
    width: 310px;
}
.button {
    width: 150px;
}